@font-face {
    font-family: 'roboto';
    src: url('RobotoTTF/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('RobotoTTF/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'roboto';
  background: #E5E5E5;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'robotolight';
}

a {
  cursor: pointer;
}

.option-selector-list {
  display: none;
}



.popup-header {
  overflow: hidden;
  padding-bottom: 12px;
}

.popup-header h1 {
  float: left;
}

.popup-header img {
  float: right;
  cursor: pointer;
}

.card {
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  color: #4D4D4D;
}

.card-padding {
  padding: 16px;
}

.card ul {
  list-style: none;
}

.card > ul > li {
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
  color: #707070;
  line-height: 24px;
}

.card > ul > li ul {
  padding-top: 1em;
}

.card > ul > li li {
  color: #999999;
  line-height: 24px;
  font-size: 14px;
}

.alert {
  font-size: 13px;
}

.alert-error {
  color: #F44336;
  border-top: 15px solid #F44336;
}

.alert-success {
  color: #4CAF50;
  border-top: 15px solid #4CAF50;
}

.alert p {
  margin-bottom: 1em;
}

.alert button {
  background: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}

.alert-padding {
  padding: 16px 0;
}

.options {
  max-width: 700px;
  margin: 0 auto;
}

.options h1 {
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 2em;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group .selectbox {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #D2D2D2;
  position: relative;
  padding-bottom: 6px;
}

.form-group select {
  border: none;
  width: 100%;
  background: none;
  outline: none;
  padding: 0;
  font-style: inherit;
  font-family: inherit;
  font-size: 14px;
  color: #999999;
}

.loading {
  height: 5px;
  width: 100%;
  background: #91a7ff;
  position: relative;
  display: none;
}

.loading:before {
  position: absolute;
  width: 5%;
  background: #5677fc;
  height: 5px;
  top: 0;
  left: 0;
  content: "";
  -webkit-animation: load 1s infinite; /* Safari 4+ */

}

@-webkit-keyframes load {
  0%   { width: 5%; }
  20% { width: 20%; }
 100% {left: 95%;}
}

.story-link {
  cursor: pointer;
}

.status {
  font-size: 12px;
  padding: 2px 12px;
  background: #EBEBEB;
  border-radius: 16px;
  display: inline-block;
  margin-left: 1em;
}

.status.to-do {
  background: #757575;
  color: white;
}

.status.doing {
  background: #448CCA;
  color: white;
}