@font-face {
    font-family: 'roboto';
    src: url('RobotoTTF/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('RobotoTTF/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
}

body {
  font-family: 'roboto';
  background: #F9F9F9;
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'robotolight';
}

a {
  cursor: pointer;
  color: #444444;
}

.app-header {
  background: #3f51b5;
  padding: 32px 16px;
  color: white;
}

.options {
  font-size: 0;
  background: #fff;
  border-bottom: 1px solid #E6E6E6;
}

.stories {
  padding: 8px 0;
}

.stories-list {
  list-style: none;
}

.story {
  padding: 16px;
  line-height: 1.4;
  border-bottom: 1px solid #E6E6E6;
}

.task {
  padding: 8px 16px;
  list-style: none;
  font-size: 14px;
  color: #999999;
}

.task:last-child {
  padding-bottom: 0;
}

/* option-selector directive */


.option-selector {
  position: relative;
  display: inline-block;
  background: #fff;
}

.option-selector.open {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.option-selector:after {
  content: "";
  border-right: 1px solid #DEDEDE;
  position: absolute;
  right: 0;
  top: 10px;
  height: 32px;
}

.option-selector.open:after {
  border-color: transparent;
}

.option-selector-toggle {
  padding: 16px 94px 16px 24px;
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.option-selector-toggle:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #444 transparent transparent transparent;
  position: absolute;
  right: 16px;
  top: 22px;
}

.option-selector-options {
  position: absolute;
  left: 0;
  z-index: 100;
  font-size: 16px;
  list-style: none;
  width: 100%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #DEDEDE;
  background: white;
}

.option-selector-options li {
  padding: 8px 24px;
  text-overflow: clip;
  cursor: pointer;
}

.option-selector-options li:last-child {
  padding-bottom: 16px;
}

.option-selector li:hover {
  background: #DDDDDD;
}

.option-selector li:active {
  background: #CCCCCC;
}