@font-face {
    font-family: 'roboto';
    src: url('RobotoTTF/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('RobotoTTF/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotothin';
    src: url('RobotoTTF/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'roboto';
  background: #F9F9F9;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 34px;
  font-weight: normal;
}

a {
  cursor: pointer;
  color: #444444;
}

.app-header {
  background: #00bcd4;
  padding: 32px 16px;
  color: white;
}

.options {
  font-size: 0;
  background: #fff;
  border-bottom: 1px solid #E6E6E6;
}

.stories {
  padding: 8px 0;
}

.stories-list {
  list-style: none;
}

/* option-selector directive */


.option-selector {
  position: relative;
  display: inline-block;
  background: #fff;
}

.option-selector.open {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.option-selector:after {
  content: "";
  border-right: 1px solid #DEDEDE;
  position: absolute;
  right: 0;
  top: 10px;
  height: 32px;
}

.option-selector.open:after {
  border-color: transparent;
}

.option-selector-toggle {
  padding: 16px 94px 16px 24px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: inherit;
  font-family: inherit;
}

.option-selector-toggle:focus {
  outline: none;
}

.indicator-arrow {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #444 transparent transparent transparent;
  position: absolute;
  right: 16px;
  top: 22px;
}

.option-selector.open .indicator-arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #444 transparent;
}

.option-selector-options {
  position: absolute;
  left: 0;
  z-index: 100;
  font-size: 16px;
  list-style: none;
  width: 100%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #DEDEDE;
  background: white;
}

.option-selector-options li {
  padding: 8px 24px;
  text-overflow: clip;
  cursor: pointer;
}

.option-selector-options li:last-child {
  padding-bottom: 16px;
}

.option-selector li:hover {
  background: #DDDDDD;
}

.option-selector li:active {
  background: #CCCCCC;
}

/* story-link directive */

.story {
  padding: 16px 16px 16px 0;
  line-height: 1.4;
  border-bottom: 1px solid #E6E6E6;
  overflow: hidden;
  display: block;
}

.story-number {
  font-size: 22px;
  float: left;
  text-align: center;
  line-height: 1;
  margin: 0 16px;
  background: #727272;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 100%;
  line-height: 40px;
}

.big-number {
  font-size: 16px;
}

.story-contents {
  float: left;
  width: calc(100% - 104px);
}

.story-contents-primary {
  font-size: 16px;
  font-weight: normal;
  color: #464646;
  line-height: 24px;
}

.story-contents-secondary {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.task {
  list-style: none;
  padding-left: 32px;
  position: relative;
}

.task:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #999;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  border-radius: 100%;
}

.task:last-child {
  padding-bottom: 0;
}

.story-status,
.task-status {
  font-size: 14px;
  padding: 4px;
  display: inline-block;
}

.status-pink {
  color: #e91e63;
}
.status-purple {
  color: #9c27b0;
}
.status-indigo {
  color: #3f51b5;
}
.status-teal {
  color: #009688;
}
.status-light-green {
  color: #8bc34a;
}
.status-yellow {
  color: #ffeb3b;
}
.status-orange {
  color: #ff9800;
}
.status-deep-orange {
  color: #ff5722;
}
.status-brown {
  color: #795548;
}
.status-blue-grey {
  color: #607d8b;
}