<!DOCTYPE html>
<html>
<head>
  <title>ScrumDon't 2.0</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animation.css">
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/lib/angular-cached-resource.js"></script>
  <script src="js/lib/angular-sanitize.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
</head>
<body ng-app="scrumDont">

  <div ng-controller="AppController">

    <header class="app-header">
      <h1>ScrumDon't</h1>

      <svg ng-click="clearCache()" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/><polyline fill="none" points="40,7 40,16   31,15.999 " stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/><path d="M41.999,25  c0,9.39-7.61,17-17,17s-17-7.61-17-17s7.61-17,17-17c5.011,0,9.516,2.167,12.627,5.616c0.618,0.686,1.182,1.423,1.683,2.203" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/></svg>

    </header>

    <div class="options" ng-controller="OptionsController">

      <option-selector
        title="project"
        model="options"
        attribute="project"
        collection="projects"
        change="changeOptions('project')">
      </option-selector>

      <option-selector
        title="user"
        model="options"
        attribute="user"
        collection="options.project.members"
        change="changeOptions()">
      </option-selector>

      <option-selector
        title="iteration"
        model="options"
        attribute="iteration"
        collection="iterations"
        change="changeOptions()">
      </option-selector>

      <option-selector
        title="status"
        model="options",
        attribute="status",
        collection="options.project.statuses"
        change="changeFilter()">
      </option-selector>

    </div>

    <div class="stories" ng-controller="StoriesController">

      <div class="loading" ng-show="loading"></div>

      <div class="message" ng-show="message">{{message}}</div>

      <ul class="stories-list">
        <li ng-repeat="story in stories | filter: {status: filters.status}:exceptEmptyComparator">
          <story-link story="story" statuses="statuses" user="{{query.user}}" project-slug="{{query.project}}"></story-link>
        </li>
      </ul>

    </div>

  </div>

</body>
</html>