<!DOCTYPE html>
<html>
<head>
  <title>ScrumDon't 2.0</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animation.css">
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/slideables.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
</head>
<body ng-app="scrumDont">

  <div ng-controller="AppController">

    <header class="app-header">
      <h1>ScrumDon't</h1>
    </header>

    <div class="options" ng-controller="OptionsController">

      <option-selector
        title="project"
        model="options"
        attribute="project"
        collection="projects"
        change="changeOptions('project')">
      </option-selector>

      <option-selector
        title="user"
        model="options"
        attribute="user"
        collection="options.project.members"
        change="changeOptions()">
      </option-selector>

      <option-selector
        title="iteration"
        model="options"
        attribute="iteration"
        collection="iterations"
        change="changeOptions()">
      </option-selector>

    </div>

    <div class="stories" ng-controller="StoriesController">

      <h2>{{message}}</h2>

      <ul class="stories-list">
        <li ng-repeat="story in stories" class="story">
          {{story.summary}}
          <ul>
            <li class="task" ng-repeat="task in story.tasks | filter: {assignee.username: selectedUser}">
              {{task.summary}}
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>

</body>
</html>