<!DOCTYPE html>
<html>
<head>
  <title>ScrumDon't</title>
  <style>
    body {
      min-width: 400px;
      min-height: 600px;
    }
  </style>
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-app="scrumDont">

  <div ng-controller="ScrumCtrl">
    
    <select ng-model="currentProject" ng-options="project.name for project in projects"></select>

    <select ng-model="member" ng-options="member.username for member in currentProject.members"></select>

    <button ng-click="saveOptions(currentProject, member)">Save</button>

    <h1>{{currentProject.name}}</h1>

    <h1>{{member.username}}</h1>
    
  </div>

</body>
</html>