<!DOCTYPE html>
<html>
<head>
  <title>ScrumDon't</title>
  <style>
    body {
      min-width: 400px;
      min-height: 600px;
    }
  </style>
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="scrumDont">

  <div ng-controller="OptionCtrl">

   <div class="card card-padding options">

      <h1>ScrumDon't Settings</h1>

      <div class="alert alert-success alert-padding" ng-show="optionsSet">
        <p>Options set.</p>
      </div>

      <p class="form-group">
        <label for="">Project: {{currentProject.name}}</label>
        <span class="selectbox">          
          <select ng-model="currentProject" ng-options="project.name for project in projects">
          </select>
        </span>
      </p>

      <p class="form-group">
        <label for="">User: {{member.username}}</label>
        <span class="selectbox">   
          <select ng-model="member" ng-options="member.username for member in currentProject.members"></select>
        </span>
      </p>

      <button ng-click="saveOptions(currentProject, member)">Save</button>

   </div>

  </div>

</body>
</html>