<div class="option-selector" ng-class="showOptions ? 'open' : '' ">
  <input
    type="text"
    ng-model="query"
    ng-focus="clearInput()"
    ng-click="toggleOptions()"
    class="option-selector-toggle"
    placeholder="{{model[attribute].name || 'Select ' + attribute}}" />
  <span class="indicator-arrow"></span>
  <ul class="option-selector-options" ng-show="showOptions">
    <li ng-click="clearSelection()">&nbsp;</li>
    <li ng-repeat="item in collection | filter:query" ng-click="selectItem(item)">{{item.name}}</li>
  </ul>
</div>